{% extends "index.html" %} {% block content %}
<select class="form-select mb-3">
    {% for department in departments %}
    <option value="{{department.id}}">{{department.name}}</option>
    {% endfor %}
</select>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ngày đánh giá</th>
                <th>Số lượng sinh viên</th>
                <th>Người đánh giá</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{history.createAt|date:"d/m/Y"}}</td>
                <td>{{history.quantityStudent}}</td>
                <td>{{history.evaluator.username}}</td>
                <td>
                    <a
                        href="{% url 'history-item' history.id %}"
                        class="btn btn-primary btn-sm"
                        >Chi tiết</a
                    >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>

{% endblock %}
