{% extends "index.html" %} {% block content %}
<div class="input-group mb-3">
    <select class="form-select">
        <option value="1">Khoa công nghệ thông tin</option>
        <option value="2">Khoa công nghệ thông tin</option>
        <option value="3">Khoa công nghệ thông tin</option>
    </select>
    <button class="btn btn-danger">Xuất file</button>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Mã SV</th>
                <th>Khoa/Viện</th>
                <th>Số lượng</th>
                <th>Điểm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>
                    <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>mary@example.com</td>
                <td>
                    <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
                </td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>july@example.com</td>
                <td>
                    <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>

{% endblock %}
